<form class="{{cssClass}} flexcol" autocomplete="off">
    <header class="sheet-header flexrow">
       <img class="profile" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
      
        <div class="header-details flexrow">
          <h1 class="charname">
            <input name="name" type="text" value="{{item.name}}" placeholder="Item Name" />
          </h1>
          <div class="item-subtitle">
            <h4 class="item-type">{{localize "MTA.Container"}}</h4>
            <span class="item-status"></span>
          </div>
          <ul class="summary">
            <li> 
              <label>{{localize "MTA.Magical"}}</label> 
              <label class="checkBox">
                <input data-dtype="Boolean" name="system.isMagical" type="checkbox" {{checked system.isMagical}}>
                <span></span>
              </label>
            </li>
            {{#if system.isMagical}}
              <li>
                <label>{{localize "MTA.MagicType"}}</label>
                <input name="system.magicType" type="text" value="{{system.magicType}}" data-koptions="Awakened/Gadget" />
              </li>
              <li>
                <label>{{localize "MTA.MagicClass"}}</label> 
                <input name="system.magicClass" type="text" value="{{system.magicClass}}" {{#if (eq system.magicType "Awakened")}}data-koptions="Imbued/Enhanced/Artifact"{{/if}}{{#if (eq system.magicType "Gadget")}}data-koptions="Embedded/Exploited"{{/if}} />
              </li>
            {{/if}}
          </ul>
        </div>
    </header>
  
  <div class="gold-border"> </div>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs">    
      <a class="item" data-tab="traits">{{localize "MTA.Contents"}}</a>
      <a class="item" data-tab="traits2">{{localize "MTA.Traits"}}</a>
      <a class="item" data-tab="description">{{localize "MTA.Description"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
      
      {{!-- Contents Tab --}}
      <div class="tab traits" data-tab="traits">
        <div class="items-block">
          <div class="items-table">
            {{!-- Contents --}}
            <table class="item-table">
              <tr class="item-row header">
                <th class="cell header first"> Contents </th>
                <th class="cell header"> </th>
              </tr>

              {{#each system.contents as |item iid|}}
                <tr class="item-row" data-index="{{@index}}">
                  <td class="cell item-name first {{#if @last}} lastRow {{/if}} {{#if system.isMagical}} magic-item {{/if}}" data-index="{{@index}}">
                    <div class="item-image" style="background-image: url({{item.img}})"></div>
                    <span> {{item.name}} </span>
                  </td>
                  <td class="cell edit-delete {{#if @last}} lastRow {{/if}}">
                    <span class="stoneButton button item-delete" data-index="{{@index}}" title="{{ localize 'MTA.DeleteItem' }}"><i class="fas fa-times-circle"></i></span>
                  </td>
                </tr>
              {{/each}}
            </table>
          </div>
        </div>
      </div>

        {{!-- Attributes Tab --}}
        <div class="tab traits2" data-tab="traits2">
          <div class="item-stat-block">
            <div class="form-line">
              <label>Availability</label> <input name="system.availability" type="number" data-dtype="Number" value="{{system.availability}}"/>
            </div>
            <div class="form-line">
              <label> Size </label> <input name="system.size" type="number" data-dtype="Number" value="{{system.size}}" />
            </div>
            <div class="form-line">
               <label> Structure </label> <input name="system.structure" type="number" data-dtype="Number" value="{{system.structure}}" />
            </div>
            <div class="form-line">
               <label> Durability </label> <input name="system.durability" type="number" data-dtype="Number" value="{{system.durability}}" />
            </div>
            {{#if system.isMagical}}
            <div class="form-line">
              {{#if (eq system.magicType "Awakened")}}
                <label>Mana</label>
              {{else if (eq system.magicType "Gadget")}}
                <label>Aether</label>
              {{else}}
                <label>Essence</label>
              {{/if}}
              <span>
                <input class="range-input" name="system.mana.value" type="number" data-dtype="Number" value="{{system.mana.value}}" /> / <input class="range-input" name="system.mana.max" type="number" data-dtype="Number" value="{{system.mana.max}}" /> 
              </span>
            </div> 
            {{/if}}
          </div>
        </div>
      
        {{!-- Description Tab --}}
        <div class="tab" data-tab="description">
          {{editor enrichedDescription target="system.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>
